QMainWindow {
    background-color: #3D3D3D;
}

QPushButton {
    background-color: #4095a1;
    }

QWidget QLabel {
    color: #CCCCCC;
    }

QWidget#GuiDesign.centralwidget {
    background-color: #1E1E1E;
    }
